<p>Dear <%=Name%>,</p>
<br/>
<p> Did you request to reset your vlife password? If so, please click  <a href='<%= link %>' >here</a>. Please Note: This link will expire in 24 hours. </p>
<p>Thanks, vlife</p>